body {
    font-family: Inika;
    max-width: 1512px;
    max-height: 982px;
}

/* ヘッダー全体 */
.header {
    text-align: center;
    width: 100%;
    height: 99px;
    border-bottom: solid 1px #E0DFDE;
}

/* ヘッダータイトル */
.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    font-size: 40px;
    font-weight: 400;
    color: #8B7969;
}

/* ヘッダーリンク　枠組み */
.header-link-container {
    position: absolute;
    top: 34px;
    left: 1317px;
}

/* リンクボタン */
.header-link {
    display: inline-block;
    width: 100px;
    height: 34px;
    text-decoration: none;
    background-color: #F0F0F099;
    font-family: Inika;
    font-weight: 400;
    font-size: 20px;
    border: solid 1px #D9C6B5;
    color: #D9C6B5;
    cursor: pointer;

}

/* メイン全体 */
.main-content {
    width: 100%;
}

/* メインタイトル */
.main-content-title {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    color: #8B7969;
    margin: 3% auto;

}

/* フォーム全体 */
.content-form {
    width: 1184.06px;
    margin: 0 auto;
}

/* フォーム1行目・2行目 */
.content-form-container-search,
.content-form-container {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* 共通設定(入力欄・性別セレクト・種類セレクト・カレンダー) */
.form-input-text,
.form-select-gender,
.form-select-kind,
.form-input-calendar {
    border: solid 1px #E3DED9;
    height: 50px;
}

/* 共通設定（性別セレクト・種類セレクト） */
.form-select-gender,
.form-select-kind {
    font-family: Inika;
    font-size: 17px;
    font-weight: 400;
    color: #8B7969;
    background-color: #F4F4F4;
    padding-left: 10px;
    padding-right: 30px;
    appearance: none;
    position: relative;
    cursor: pointer;
}

/* 共通設定（検索ボタン・リセットボタン） */
.form-button-search,
.form-button-reset {
    width: 102.48px;
    height: 50px;
    border: none;
    font-family: Inika;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}


/* フォーム1行目　入力欄 */
.form-input-text {
    width: 347.47px;
    font-family: Inika;
    font-size: 16px;
    font-weight: 400;
    color: #BEB1A6;
    text-align: center;
    background-color: #FBFBFB;
}

/* フォーム1行目　セレクトボックス「性別」 */
.form-select-gender {
    width: 102.48px;
}

/* フォーム1行目　セレクトボックス「お問い合わせの種類」 */
.form-select-kind {
    width: 223.04px;
}

/* フォーム1行目　カレンダーの設定 */
.form-input-calendar {
    width: 148.87px;
    font-family: Inika;
    font-size: 17px;
    font-weight: 400;
    color: #8B7969;
    background-color: #F4F4F4;
    padding-left: 10px;
    appearance: none;
    position: relative;
    cursor: pointer;
}

/* カレンダー枠組み */
.form-container-search-group-calendar {
    position: relative;
    display: inline-block;
}

/* 矢印アイコンを疑似要素で追加 */
/* ※セレクトタグには疑似要素は適用できない */
.form-container-search-group-select,
.form-input-calendar {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
}

.form-container-search-group-select::after,
.form-input-calendar::after {
    content: "▼";
    width: 17.22px;
    height: 20px;
    font-size: 17px;
    text-align: center;
    color: #E0DFDE;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

/* 検索ボタン */
.form-button-search {
    background-color: #82756A;
}

/* リセットボタン */
.form-button-reset {
    background-color: #D9C6B5;
}

/* エクスポートボタン */
.form-button-export {
    width: 148px;
    height: 39px;
    padding: 8px 20px;
    background-color: #E1DBD699;
    border: none;
    font-family: Inika;
    font-size: 18px;
    font-weight: 400;
    color: #8B7969;
    text-align: center;
    cursor: pointer;
}

/* ページネーション 全体 */
.pagination {
    width: 219px;
    height: 31px;
    font-size: 18px;
    font-weight: 400;
    border-top: 1px solid #E0DFDE;
    border-left: 1px solid #E0DFDE;
    border-bottom: 1px solid #E0DFDE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

/* ページネーション　各ページの番号・矢印リンク */
.pagination-icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    border-right: 1px solid #E0DFDE;
    color: #8B7969;
    text-decoration: none;
}

/* ページネーション　現在ページ */
.pagination-icon.active {
    background-color: #8B7969;
    color: #FFFFFF;
}

/* ページネーション　無効なリンク */
.pagination-icon.disabled {
    color: #BEB1A6;
    pointer-events: none;
}

/* テーブル全体 */
.content-table {
    width: 1183px;
    max-height: 570px;
    margin: 0 auto;
    text-align: center;
}

/* テーブル　タイトル行 */
.table-row-title {
    width: 100%;
    height: 59px;
    line-height: 50px;
}

/* テーブル　ラベル */
.table-label {
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #8B7969;
}

/* 検索結果　行 */
.table-row-data {
    width: 100%;
    height: 72.98px;
    border-left: solid 1px #E0DFDE;
    border-right: solid 1px #E0DFDE;
    border-bottom: solid 1px #E0DFDE;
    line-height: 50px;
}

/* テーブル　内容 */
.table-data {
    font-size: 20px;
    font-weight: 400;
    color: #8B7969;
}

/* 詳細ボタン */
.table-form-button {
    width: 76px;
    height: 39px;
    padding: 8px 18px;
    border: solid 1px #D9C6B599;
    background-color: #F4F4F44D;
    font-family: Inika;
    font-size: 18px;
    font-weight: 400;
    color: #D9C6B5;
    text-align: center;
    cursor: pointer;
}

/* モーダルウィンドウ 全体 */
.modal-content {
    /* 初期状態は非表示 */
    display: none;
    position: fixed;
    top: 62px;
    left: 353.5px;
    width: 805px;
    height: 858px;
    border: 1px solid #8B7969;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 4px #8B796940;
    z-index: 1000;
}

/* 枠組み共通 */
.modal-close-button-container,
.modal-content-container,
.modal-delete-button-container {
    display: flex;
    flex-direction: column;
}

/* ×ボタン 枠組み */
.modal-close-button-container {
    justify-self: flex-end;
}

/* 内容　枠組み */
.modal-content-container {
    justify-self: center;
    align-items: center;
    margin-top: 10%;
    width: 593px;
}

/* 削除ボタン　枠組み */
.modal-delete-button-container {
    justify-self: center;
    align-items: center;
    margin-top: 5%;
}

/* ×ボタン */
.close-button {
    width: 40px;
    height: 42px;
    margin: 30px 30px 0 0;
    border: solid 1px #8B7969;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #8B7969;
    cursor: pointer;
}

/* モーダルウィンドウ　行 */
.modal-table-row:not(:last-child) {
    text-align: left;
    width: 593px;
    height: 60px;
}

.modal-table-row:last-child {
    text-align: left;
    width: 473px;
    height: 120px;
}

/* モーダルウィンドウ　ラベル */
.modal-table-label {
    width: 180px;
    font-size: 19px;
    font-weight: 700;
    color: #8B7969;
}

/* モーダルウィンドウ　内容 */
.modal-table-data {
    width: 413px;
    font-size: 20px;
    font-weight: 400;
    color: #8B7969;
    padding-left: 30px;
}

/* 削除ボタン */
.delete-button {
    width: 76px;
    height: 39px;
    padding: 8px 20px;
    border: none;
    background-color: #BA370D;
    font-family: Inika;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    cursor: pointer;
}