body {
    font-family: Inika;
    max-width: 1512px;
    max-height: 982px;
}

/* ヘッダー全体 */
.header {
    text-align: center;
    width: 100%;
    height: 99px;
    border-bottom: solid 1px #E0DFDE;
}

/* ヘッダータイトル */
.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    font-size: 40px;
    font-weight: 400;
    color: #8B7969;
}

/* メイン全体 */
.main-content {
    width: 100%;
    height: 100%;
}

/* メインタイトル */
.main-content-title {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    color: #8B7969;
    margin: 3% auto;

}

/* テーブル　枠組み */
.content-table{

}

/* テーブル　行 */
.table-row{

}

/* テーブル ラベル*/
.table-label{

}

/* テーブル　内容 */
.table-data{

}

/* 「送信」「修正」　枠組み */
.button-container{

}

/* 送信ボタン　枠組み */
.content-form-submit{

}

/* 送信ボタン */
.form-submit-button{

}

/* 修正ボタン 枠組み*/
.content-link-container{

}

/* 修正ボタン */
.content-link-contact{

}