body {
    font-family: Inika;
    max-width: 1512px;
    max-height: 982px;
}

/* ヘッダー全体 */
.header {
    text-align: center;
    width: 100%;
    height: 99px;
    border-bottom: solid 1px #E0DFDE;
}

/* ヘッダータイトル */
.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    font-size: 40px;
    font-weight: 400;
    color: #8B7969;
}

/* メイン全体 */
.main-content {
    width: 100%;
    height: 100%;
}

/* メインタイトル */
.main-content-title {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    color: #8B7969;
    margin: 3% auto;

}

/* テーブル　枠組み */
.content-table {
    width: 972px;
    height: 606px;
    margin: 0 auto;
    border: solid 1px #E0DFDE;
}

/* テーブル　行 */
.table-row:not(:last-child) {
    border-bottom: solid 1px #E0DFDE;
    height: 69.92px;
}

.table-row:last-child {
    height: 116.54px;
}

/* テーブル ラベル*/
.table-label {
    width: 305px;
    background-color: #BAA899;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    text-align: left;
    padding-left: 50px;
}

/* テーブル　内容 */
.table-data {
    font-size: 20px;
    font-weight: 400;
    color: #8B7969;
    text-align: left;
    padding-left: 50px;
}

/* 「送信」「修正」　枠組み */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/* 送信ボタン　枠組み */
.content-form-submit {
    margin-right: 50px;
}

/* 送信ボタン */
.form-submit-button {
    width: 120px;
    height: 42px;
    border: none;
    background-color: #82756A;
    font-family: Inika;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
}

/* 修正ボタン */
.content-link-contact {
    font-size: 20px;
    font-weight: 400;
    color: #8B7969;
    cursor: pointer;
}