body {
    font-family: Inika;
    background-color: #F2ECE7;
    max-width: 1512px;
    max-height: 982px;
}

/* ヘッダー全体 */
.header {
    background-color: #ffffff;
    text-align: center;
    width: 100%;
    height: 99px;
}

/* ヘッダータイトル */
.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    font-size: 40px;
    font-weight: 400;
    color: #8B7969;
}

/* ヘッダーリンク　枠組み */
.header-link-container {
    position: absolute;
    top: 34px;
    left: 1317px;
}

/* リンクボタン */
.header-link {
    display: inline-block;
    width: 100px;
    height: 34px;
    font-family: Inika;
    text-decoration: none;
    background-color: #F0F0F099;
    font-weight: 400;
    font-size: 20px;
    border: solid 1px #D9C6B5;
    color: #D9C6B5;
    cursor: pointer;

}

/* メイン全体 */
.main-content {
    width: 100%;
}

/* メインタイトル */
.main-content-title {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    color: #8B7969;
    margin: 3% auto;

}

/* コンテンツ外枠 */
.main-content-form {
    background-color: #ffffff;
    text-align: center;
    margin: 0 auto;
    width: 736px;
    height: 644px;
    border: solid 1px #C5B9B0;
}

/* コンテンツ内枠 */
.main-content-inner {
    width: 445px;
    height: 396px;
    margin: 10% auto;
}

/* コンテンツ　行 */
.form-group:nth-child(2) {
    margin: 30px 0;
}

/* ラベル */
.form-label {
    text-align: left;
    font-size: 25px;
    font-weight: 400;
    color: #8B7969;
    margin: 0 auto 10px 0;
}

/* 入力箇所 */
.form-input {
    font-family: Inika;
    width: 100%;
    height: 55px;
    background-color: #F4F4F4;
    border: none;
    padding-left: 20px;
    font-family: Inika;
    font-size: 14px;
    font-weight: 400;
    color: #BEB1A6;
}

/* ログインボタン */
.form-submit-button {
    font-family: Inika;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    width: 120px;
    height: 46px;
    margin-bottom: 10%;
    padding: 10px 40px;
    border: none;
    background-color: #82756A;
    cursor: pointer;
}

/* エラーメッセージ */
.error-message {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    color: red;
}